@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=JetBrains+Mono:wght@400;600&family=Red+Hat+Display:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {}

@layer components {
    body {
        @apply flex justify-center items-center p-5
    }
    .container-todo {
        @apply flex flex-col min-h-screen items-center bg-slate-100 max-w-md p-2 gap-2 rounded-lg;
    }
    .card {
        display: flex;
        @apply items-center bg-sky-600 text-white p-6 rounded-lg;
        width: 350px;
    }
    form {
        @apply bg-white rounded-lg flex flex-row items-center p-3;
        width: 350px;
    }
    input {
        @apply bg-white rounded-md flex-1 text-sm;
        border: none;
    }
    .add-icon {
        @apply fill-sky-600
    }
}